/* * {
  outline: 1px solid red;
} */


/* Body General Styles */
body {
  height: 100%;
  margin-bottom: 100px;
  margin-left: auto;
  margin-right: auto;
  min-width: 1024px;
  justify-content: center;
  background: linear-gradient(135deg, rgba(230,230,230,1) 0%, rgba(230,230,230,1) 15%, rgba(158,158,158,1) 35%, rgba(209,209,209,1) 65%,rgba(240,240,240,1) 85%,rgba(199,199,199,1)95%);
}

table, header{
  min-width: 1024px;
  border-radius: 15px;
  background: linear-gradient(to bottom, rgba(149,204,155,1) 0%, rgba(32,161,13,1) 56%, rgba(32,161,13,1) 100%);
  box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.75);
}

tr, td {
  padding: 10px;
  height: 150px;
}


h2{
  text-align: center;
  font-size: 50px;
  justify-content: center;
}

form{
  flex-wrap: wrap;
  display: flex;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-around;
}

.pokemon-font{
  -webkit-text-stroke: 1px #2F62B3;
  font-weight:bolder;
  text-transform:uppercase;
  letter-spacing:-2pt;
  word-spacing:3pt;
  font-family: 'Concert One', cursive;
  color: #FFCD00;
}

/* Start Screen Styles */
.start-screen{
  height: 100%;
  margin-bottom: 200px;
  margin-top: 50px;
  width: 100%;
  justify-content:center;
  align-items: center;
}

.logo {
  display: block;
  width: 100%;
  padding: 20px;
}

.logo-small {
  display: block;
  justify-content: center;
  width: 40%;
  padding: 20px;
  align-self: center;
  margin: auto;
}

.button{
  display: wrap;
  border-radius: 10px;
  background-color: #2F62B3;
  border: none;
  padding: 16px 32px;
  text-decoration: none;
  cursor: pointer;
  font-size: 35px;
}

.radio-button{
    width: 250px;
    margin: 4px 2px;
}


/* Game Header Styles*/
.game-header{
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 10px;
}

.header-data{
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 120px;
  font-weight: bold;
  font-size: 25px;
}

.game-logo{
  display: block;
  max-height: 100px;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.star-score{
  width: 70px;
  height: 70px;
}

/* Game Board Styles*/
#memory-board{
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  table-layout: fixed;
  padding: 15px;
  border-collapse: separate;
}

.tile {
  display: block;
  align-self: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 2px;
  width: 140px;
  height: 140px;
  border-style: solid;
  border-width: 1px;
  border-color: red;
  border-radius: 15px;
  background: linear-gradient(to bottom, rgba(76,76,76,1) 0%, rgba(179,179,179,1) 53%, rgba(179,179,179,1) 100%);
  cursor: pointer;
  box-shadow: 3px 3px 5px 1px rgba(0,0,0,0.75);
}

.flipper {
	transform: rotateY(180deg);
}

/* Modal Styles */

.modal-stars{
  width: 100px;
  height: 100px;
}

#modal-stars-container{
  display: flex;
  justify-content: center;
}

#reset-button{
  margin: 8px 4px;
  width: 100%;
}

.modal-font{
  font-size: 30px;
  text-align: center;
}
